# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare

In [1]:
print ("Hello world")

Hello world

## Kommentare

In [2]:
# Das ist ein Kommentar
print ("Hello world")

Hello world

## Einfache Datentypen

In [4]:
# Variablen und Wertezuweisung (Value Assignment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [5]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [6]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [8]:
# Boolean - Boolscher Wert 
is_scientist = True
print(is_scientist)

True

In [9]:
type(name)

str

In [10]:
type(size)

float

In [11]:
type(age)

int

In [12]:
name
age

73

In [13]:
print(name)
print(age)

Hawking
73

## Operatoren

In [14]:
5 + 5

10

In [15]:
age * 100

7300

In [16]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [17]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [18]:
name + "10"

'Hawking10'

In [19]:
size/age

0.023456164383561642

In [20]:
number_of_articles = "50"

In [21]:
number_of_articles/10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [22]:
int(number_of_articles) / 10

5.0

In [23]:
type (number_of_articles)

str

In [24]:
number_of_articles = 50

In [25]:
type(number_of_articles)

int

In [27]:
# Befehl für Jupyter Notebook zum Anzeigen aller Variablen
%who

age	 is_scientist	 name	 number_of_articles	 size

In [30]:
zahl = "10"
print(int(zahl))
type(zahl)

10

str

## Funktionen und Methoden

In [32]:
len(name)

7

In [33]:
len(age)

TypeError: object of type 'int' has no len()

In [41]:
# auf Objekte kann man Methoden anwenden, z.B. hier Methode upper auf name; weiter untern replace 
name.upper()

'HAWKING'

In [37]:
name = name.upper()
print(name)

HAWKING

In [38]:
name

'HAWKING'

In [40]:
name.replace("W", "BLAAA")

'HABLAAAKING'

In [42]:
first_name = "Anna"

In [43]:
first_name.count("A")

1

In [44]:
first_name + name

'AnnaHAWKING'

In [45]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries (sog. Container)

In [47]:
    # Beachten: Listen sind zero-based!
    names = ["Darwin", "Hawking", "Curie"]
    names[0]

'Darwin'

In [48]:
names2 = ["Darwin", 10, "Curie"]

In [49]:
names2

['Darwin', 10, 'Curie']

In [50]:
len(names)

3

In [51]:
names[-1]

'Curie'

In [52]:
# erstes Element inklusive, letztes exklusiv, d.h. 0-2 gibt nur Werte auf Position 1 und 2 aus; 3 nicht
names[0:2]

['Darwin', 'Hawking']

In [53]:
names[0:-1]

['Darwin', 'Hawking']

In [54]:
names[0:3]

['Darwin', 'Hawking', 'Curie']

In [56]:
names[:2]

['Darwin', 'Hawking']

In [66]:
# Dictionary (Key und Wert)
author_and_ages = {"Darwin": 73, 
                   "Goethe": 83, 
                   "Lovelace": 37}

In [62]:
author_and_ages["Goethe"]

83

In [70]:
# Liste erweitern, d.h. neues Element hinzufügen
names.append("Kleist")
names

['Darwin', 'Hawking', 'Curie', 'Kleist', 'Kleist']

In [69]:
# Dictionary erweitern, d.h. neuen Key mit Wert einfügen
author_and_ages["Rowling"] = 53

In [68]:
author_and_ages

{'Darwin': 73, 'Goethe': 83, 'Lovelace': 37, 'Rowling': 53}

## for-Schleife

In [71]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist
Kleist

In [73]:
names.remove("Kleist")

In [74]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [75]:
del(names[3])

In [76]:
names

['Darwin', 'Hawking', 'Curie']

In [77]:
names.append("Kleist")

In [78]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [82]:
for name in names:
    print(name + " is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name
Kleist is a great name

## Bedingte Anweisungen bzw. Conditionals

In [83]:
temp = 20
if temp > 15:
    print("It´s warm")

It´s warm

In [84]:
temp = 10
if temp > 15:
    print("It´s warm")

In [86]:
temp = 10
if temp > 15:
    print("It´s warm")
else: 
    print("It´s cold")

It´s cold

In [87]:
temp = 15
if temp > 15:
    print("It´s warm")
else: 
    print("It´s cold")

It´s cold

In [88]:
temp = 15
if temp >= 15:
    print("It´s warm")
else: 
    print("It´s cold")

It´s warm

In [90]:
temp = 25
if temp >= 25:
    print("It´s hot")
elif temp >= 15:
    print("It´s warm")
else: 
    print("It´s cold")

It´s hot

In [91]:
temperatures = [10,15,25]

In [92]:
for temp in temperatures:
    if temp >= 25:
        print("It´s hot")
    elif temp >= 15:
        print("It´s warm")
    else: 
        print("It´s cold")

It´s cold
It´s warm
It´s hot

# Python_CSV-Introduction

In [9]:
# Import einer Library, ggf. nur bestimmtes Modul
import urllib.request
import csv

In [5]:
url = "https://raw.githubusercontent.com/foerstner-lab/Bits_and_pieces_for_the_carpentries_workshops/master/plain_text_file_examples/DOIs_PMIDs_PubYears.tsv"
file = "DOIs_PMIDs_PubYears.tsv"

In [8]:
# download von file von URL (braucht Lib urllib)
urllib.request.urlretrieve(url, file)

('DOIs_PMIDs_PubYears.tsv', <http.client.HTTPMessage at 0x7a1fe10>)

In [10]:
#Datei anschauen (braucht Lib csv): Öffnen der Datei, nicht einlesen
# file handle = fh, geht Datei Zeile für Zeile durch, wird nicht in Arbeitsspeicher geladen, gibt die Zeile aus)
fh = open(file)
for line in csv.reader(fh, delimiter ="\t"):
    print(line)

['DOI', 'PMID', 'Year']
['    10.1007/164_2019_213', '31119463', '2019']
['10.1371/journal.pone.0212463', '30779778', '2019']
['10.21105/joss.00885', '310809422018', '2018']
['10.1371/journal.pone.0215137', '30973910', '2018']
['1371/journal.pcbi.1006473 ', '30763318', '2019']

In [11]:
fh = open(file)
for line in csv.reader(fh, delimiter ="\t"):
    print(line[-1])

Year
2019
2019
2018
2018
2019